.chat-content-container
  .chat-messages
    - @messages.each do |message|
      .chat-message
        .chat-massage__upper-content
          %p.chat-message__upper-content__user-name
            = message.user.name
          %p.chat-message__upper-content__date
            = message.created_at.strftime("%Y/%m/%d %H:%M")
        %p.chat-message__message #{message.content}
        = image_tag "#{message.image.url}"
